<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito de Compras</title>
    <script src="https://kit.fontawesome.com/4b6f922cb1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="aviso"> 
        <h1>AVISO IMPORTANTE: DESCUENTOS, ENVIOS, PROMOCIONES</h1>
       </div> 

       <div class="logo">
           <h1>GIFTBOX</h1>
       </div>

       <div class="botones"> 
        <input type="button" value="Categorias">  <input type="button" value="Categorias"> <input type="button" value="Categorias"> <input type="button" value="Categorias">  <input type="button" value="Categorias"> <i class="fa-solid fa-magnifying-glass"></i> 
        </div>

    </header>

    <main>

            <div class="ingreso"> 
            <input type="button" value="Ingreso">
            <i class="fa-solid fa-cart-shopping">  </i> 
            </div>

            <div class="tituloCarrito"> <i style="font-size: 30px;" class="fa-solid fa-cart-shopping"> </i> <h1> Carrito de compras </h1> 
            </div> 

            <div class="producto"> 
            <h4>Producto </h4> 
            </div> 
            
            <div class="subtotal"> 
            <h4 >Subtotal </h4> 
            
            </div> 
           
            

            <div class="imagen_producto">
                <img src="https://www.freejpg.com.ar/asset/900/b3/b3a1/F100011707.jpg" alt="cajaderegalo">
            
            </div>

            <div class="detalles_compra">
                <h4>Nombre del producto</h4>
            
                <h4>Precio unitario</h4>
           
                <h4>Cantidad</h4>
               
                <h4>Subtotal</h4> 

              
            </div> 

            <div class="imagen_producto">
                <img src="https://www.freejpg.com.ar/asset/900/b3/b3a1/F100011707.jpg" alt="cajaderegalo">
            
            </div>

            <div class="detalles_compra">
                <h4>Nombre del producto</h4>
            
                <h4>Precio unitario</h4>
           
                <h4>Cantidad</h4>
               
                <h4>Subtotal</h4> 

                
            </div>

            <div class="imagen_producto">
                <img src="https://www.freejpg.com.ar/asset/900/b3/b3a1/F100011707.jpg" alt="cajaderegalo">
            
            </div>

            <div class="detalles_compra">
                <h4>Nombre del producto</h4>
            
                <h4>Precio unitario</h4>
           
                <h4>Cantidad</h4>
               
                <h4>Subtotal</h4>

                
            </div>

            <br> <br> <br>

        
    </main>

    <footer>

        <div class="pie"> 
        <h4>TOTAL  </h4>

        <h4> $... </h4>

    </div>

        <br> <br> <br>
    <div class="pie2">
        <H4> iNCIAR COMPRA </H4> 
        <H4> Seguir comprando </H4>
    </div>
    
    </footer>

</body>
</html>