<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tiro+Gurmukhi&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b6f922cb1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/aileron" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>Giftbox</title>
</head>
<body>
    <header>
        <section>
            <h1 class="banner1">AVISO IMPORTANTE : DESCUENTOS, ENVIOS, PROMOCIONES</h1>
        </section>
        <br>
        <section>
            <p class="banner2">~ Gift Box ~</p>
        </section>
        <br>
        <nav class="nav">
            <div class="divButtons">
                <ul class="nav_bar">
                    <li><a href="#">Ofertas |</a></li>
                    <li><a href="#"> Productos |</a></li>
                    <li><a href="#"> Registro |</a></li>
                    <li><a href="#"> Login |</a></li>
                    <li><a href="/carrito"> Carrito | </a></li>
                    <li><a href="#"> Contacto </a></li>
                </ul>
                <!--<div class="search-container">
                      <input type="text" placeholder="Buscar..." name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <input type="text" placeholder="Search.."><icon style="color: white"><i class="fa-solid fa-magnifying-glass"></i></icon> -->
            </div>
        </nav>
        <hr class="line-hr">
    </header>
    <br>
    <br>
    <section class="containerPortada">
        <img src="../images/wines.jpg" alt="Vinos">
    </section>
    <br>
    <br>
    <section class="banner3">
        <p>SECCION DE RECOMENDACIONES O FAVORITOS</p>
    </section>
    <br>
    <br>
    <section>
        <div class="row">
            <div class="img-container">
                <img src="../images/cupcake.jpg">
            </div>
            <div class="img-container">
                <img src="../images/pan.jpg">
            </div>
            <div class="img-container">
                <img src="../images/champagne.jpg">
            </div>
        </div>
    </section>  
    <br>
    <br>
    <section class="banner4">
        Informacion Varia de Productos, o Proximamente, etc...
    </section>
    <br>
    <br>

    <section class="container_caja_personalizada">
        <div class="caja_personalizada">
            <img src="../images/oliva.jpg">
        </div>
        <div class="descricpion_caja_personalizada">
            <p>DESCRIPCION: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum soluta ut doloribus vero rerum incidunt sint labore rem ratione saepe! Ab aspernatur exercitationem architecto voluptate repellat omnis rerum. Architecto, nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus soluta sed, consectetur nisi earum velit quidem dolorum nesciunt debitis hic facilis rem ut praesentium, possimus rerum numquam quo impedit minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur aspernatur eligendi nihil ipsa ullam iste, obcaecati provident eveniet nemo tempore voluptate, deleniti amet consectetur illum ipsum voluptates rerum tenetur molestias.</p>
        </div>
        <br>        
    </section>
    <br>
    <section class="container_caja_personalizada">
        <div class="descricpion_caja_personalizada">
            <p>DESCRIPCION: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum soluta ut doloribus vero rerum incidunt sint labore rem ratione saepe! Ab aspernatur exercitationem architecto voluptate repellat omnis rerum. Architecto, nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus soluta sed, consectetur nisi earum velit quidem dolorum nesciunt debitis hic facilis rem ut praesentium, possimus rerum numquam quo impedit minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur aspernatur eligendi nihil ipsa ullam iste, obcaecati provident eveniet nemo tempore voluptate, deleniti amet consectetur illum ipsum voluptates rerum tenetur molestias.</p>
        </div>
        <div class="caja_personalizada">
            <img src="../images/choco.jpg">
        </div>
        <br>        
    </section>
    <br>
    <!-- Suscripcion-->
    <section>
        <div class="suscripcion">
            
            <div class="suscripcion_banner">
                <p>Suscribite a nuestra página</p>
            </div>
            <div class="suscripciones_correo">
                <input type="email" id="email" name="email">
                <input type="Submit">
            </div>
        
        </div>
    </section>
    <br>
    <br>
    <footer class="copyright">
        <p>Copyright© Giftbox S.R.L. - 2022</p>
    </footer>
</body>
</html>